
@{
    ViewBag.Title = "Movie";
}

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angular-movie-controller")
@Styles.Render("~/bundles/moviecss")

<h2>Hoverable Dropdown</h2>
<p>Move the mouse over the button to open the dropdown menu.</p>
<h6>patel</h6>

<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a href="https://www.facebook.com/login/">Facebook</a>
        <a href="https://twitter.com/?lang=en">Twitter</a>
        <a href="https://www.linkedin.com/feed/">Linkedin</a>
    </div>
</div>

