
@{
    ViewBag.Title = "index";
}

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angular-movie-controller")

<div ng-app="MovieApp" ng-controller="MovieController">
    @*First Table*@
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="form-group">
                   <h1 class="display-1" >Enter Movie</h1>
                    <label for="exampleInputEmail1"></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Movie" />
                    <br />
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>   
            <div class="list-group">
                <button type="button" class="list-group-item">One</button>
                <button type="button" class="list-group-item">Two</button>
                <button type="button" class="list-group-item">Three</button>
                <button type="button"class="list-group-item">Four</button>
                <button type="button" class="list-group-item">Five</button>
                <button type="button" class="list-group-item">Six</button>
                <button type="button" class="list-group-item">Seven</button>
                <button type="button" class="list-group-item">Eight</button>
                <button type="button" class="list-group-item">Nine</button>
                <button type="button" class="list-group-item">Ten</button>
            </div>
        </div>

        @*Second Information Table*@
        <div class="col-sm-8">
            <form>
              <h1 class="display-1">Movie Information</h1>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Film TItle</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>    

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Actors</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Running TIme</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Genre</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Year</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Director</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

            </form>
        </div>
    </div>
  </div>


