
@{
    ViewBag.Title = "index";
}

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angular-movie-controller")

<div ng-app="MovieApp" ng-controller="MovieController">

    <input ng-model="input1">
    <br/>
    <input ng-model="input2">

    <h1>App name is {{input1 + input2}}</h1>
</div>

