
@{
    ViewBag.Title = "index";
}

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angular-movie-controller")

<div ng-app="MovieApp" ng-controller="MovieController">

    {{appName}}
    @*First Table*@
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="form-group">
                   <h1 class="display-1" >Enter Movie</h1>
                    <label for="exampleInputEmail1"></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Movie" />
                    <br />
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>   
            <div class="list-group">
                <button type="button" class="list-group-item">One</button>
                <button type="button" class="list-group-item">Two</button>
                <button type="button" class="list-group-item">Three</button>
                <button type="button"class="list-group-item">Four</button>
                <button type="button" class="list-group-item">Five</button>
                <button type="button" class="list-group-item">Six</button>
                <button type="button" class="list-group-item">Seven</button>
                <button type="button" class="list-group-item">Eight</button>
                <button type="button" class="list-group-item">Nine</button>
                <button type="button" class="list-group-item">Ten</button>
            </div>
        </div>

        @*Second Information Table*@
        <div class="col-sm-8">
            <form>
                <h1 class="display-1">Movie Information</h1>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Movie Title</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="moviename">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Movie Year</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="movieyear">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Movie Time</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="movietime">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Movie Language</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="movielanguage">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Movie Date Release</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="movierelease">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Movie Country</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="moviecountry">
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Actors</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="actors">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Director</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" ng-model="director">
                </div>
                </br>
                <button type="button" ng-click="InsertMovie()" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
  </div>


